		*{
 margin : 3px;
 padding: 3px;
 box-sizing: border-box;
}

body {
  font-family: monospace;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("grid.png") repeat;
  opacity: 0.2; /* 여기서 조절 */
  z-index: -1;
}

details {
    gap: 10px;
    cursor: pointer;
    align-items: flex-start;
    margin:-7px;

}

a {
    color: lightpink;
}

a:hover {
    color: gray;
    background-color: goldenrod;
}

.text-middle {
    align-items: center;
}

details[open] > summary {
        color: seagreen;
}

summary {
    width:120px;
}



.indent {
    margin-left: 20px;
}

.indent2 {
    margin-left: 80px;
}

img {
  width: 60%;
  height: auto;
}


img:hover {
    opacity: 70%;
}

.notriangle::marker {
    content:"";
}

.green {
    color: dimgray;
}


.arena-gallery {
  margin-left: 15px;
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
